* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
            /* navbar */
nav {
    width: 96%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
nav img{
    margin-right: 346px;
}

nav .menu {
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;
    


}

nav .menu a {
    text-decoration: none;
    font: 16px;
    color: #000000;
    line-height: 152%;
    font-weight: 400;
}

nav .btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;
    font: 16px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    margin-left: 346px;
    border-radius: 4px;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12.5px 16px;

    font: 16px;
    font-weight: 500;
    cursor: pointer;
    color: white;
}
          /* banner section  */